{% load extra_tags %}

<footer class="footer">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <p class="footer">
        GetYourData.org is a public benefit project by Aleksi Knuutila with
        support from <a href="http://fi.okfn.org/">Open Knowledge Finland</a>.
        </p>
        <p class="footer" style="margin-bottom: 40px">
        The site <a href="/privacy">uses cookies</a> to improve the service.
        </p>
      </div>

      <div class="col-md-5">
        <div class="col-sm-3 col-md-4 pad-top text-center" style="padding: 0px;">
          <ul class="footer-links">
            <li><a href="{% url 'organization:search_organization' %}">Make a request</a></li>
            <li><a href="{% url 'faq' %}">Help</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-5 pad-top text-center" style="padding: 0px;">
          <ul class="footer-links">
            <li><a href="{% url 'django.contrib.flatpages.views.flatpage' url='about/' %}">About us</a></li>
            <li><a href="/privacy">Privacy and cookies</a></li>
            <li><a href="https://github.com/AleksiKnuutila/getyourdata">Github</a></li>
          </ul>
        </div>
      </div>


      <!--
        <div class="footer-links">
          <div class="footer-links-left">
            <ul class="footer-links">
              <li><a href="/">Make a request</a></li>
              <li><a href="/">Help</a></li>
            </ul>
          </div>
          <div class="footer-links-right">
            <ul class="footer-links">
              <li><a href="/">Privacy and tracking</a></li>
              <li><a href="/">Contact us</a></li>
              <li><a href="/">Github</a></li>
            </ul>
          </div>
        </div>
      </div>
      -->
      <div class="col-md-3">
      </div>
    </div>
  </div>
</footer>
