<div class="organization-list-category-header">Central government</div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='department' %}">Ministerial departments</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='non_ministerial_department' %}">Non-ministerial departments</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='executive_agency' %}">Executive agencies</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='advisory_committee' %}">Advisory bodies</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='endpb' %}">Executive non-departmental public bodies</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='other_cg' %}">Other central government bodies</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='inspectorate' %}">Inspectorates</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='regulator' %}">Regulators</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='public_corporation' %}">Public corporations</a></div>

<div class="organization-list-category-header">Education</div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='university' %}">Universities</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='university_college' %}">University colleges</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='cambridge_college' %}">Cambridge colleges</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='durham_college' %}">Durham colleges</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='oxford_college' %}">Oxford colleges</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='group_of_universities' %}">Groups of universities</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='university_owned_company' %}">University owned companies</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='hei' %}">Higher education institutions</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='fei' %}">Further education institutions</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='academies' %}">Academies</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='school' %}">Schools</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='exam_board' %}">Exam boards</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='research_council' %}">Research councils</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='lib_board' %}">Education and library boards</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='rbc' %}">Regional Broadband Consortia</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='school_inspectorate' %}">School inspectorates</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='welsh_establishment' %}">Welsh Establishment</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='all_through' %}">All-through schools</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='free_school' %}">Free schools</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='academy_trust' %}">Academy Trust</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='utc' %}">University Technical Colleges</a></div>

<div class="organization-list-category-header">Emergency services</div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='police' %}">Policing bodies</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='police_force' %}">Police forces</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='police_crime_commissioner' %}">Police and Crime Commissioners</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='police_crime_panel' %}">Police and Crime Panels</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='pcsp' %}">Policing and community safety partnerships</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='fire_service' %}">Fire and rescue services</a></div>

<div class="organization-list-category-header">Environment and agriculture</div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='adhac' %}">Agricultural dwelling house advisory, committees</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='awc' %}">Agricultural wages committees</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='ifca' %}">Inshore fisheries and conservation, authorities</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='idb' %}">Internal drainage boards</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='mcz' %}">Marine conservation zones</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='npa' %}">National park authorities</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='rpa' %}">Regional park authorities</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='sea_fishery_committee' %}">Sea fisheries committees</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='wda' %}">Waste disposal authorities</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='wma' %}">Waste management authorities (Northern, Ireland)</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='watercompanies' %}">Water companies</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='zoo' %}">Zoos</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='aonbcb' %}">Areas of Outstanding Natural Beauty, Conservation Boards</a></div>

<div class="organization-list-category-header">Groups of public authorities</div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='association' %}">Associations of public authorities</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='group_of_universities' %}">Groups of universities</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='pbo' %}">Professional buying organisations</a></div>

<div class="organization-list-category-header">Health</div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='nhs' %}">NHS bodies</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='nhstrust' %}">NHS trusts</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='pct' %}">Primary care trusts</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='nhsni' %}">NHS in Northern Ireland</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='commissioning_consortium' %}">GP commissioning consortia</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='hscr' %}">Health / social care</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='his' %}">Health Informatic Services</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='optician' %}">Opticians</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='pharmacy' %}">Pharmacies</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='dentist' %}">NHS Dentists</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='pha' %}">Port health authorities</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='pho' %}">Public health observatories</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='sha' %}">Strategic health authorities</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='specialha' %}">Special health authorities</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='healthwatch' %}">Healthwatch organisations</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='surgery' %}">GP Surgery</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='nhswales' %}">NHS in Wales</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='nhs_wales_chc' %}">Community Health Councils in Wales</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='nhs_wales_lhb' %}">NHS Wales Local Health Boards</a></div>

<div class="organization-list-category-header">Law making bodies, the courts and the legal system</div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='ukparliament' %}">UK Parliament</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='national_parliament_or_assembly' %}">National Parliaments and Assemblies</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='court' %}">Courts</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='coroners_office' %}">Coroners&#x27; offices</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='tribunal' %}">Tribunals</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='approved_regulator' %}">Approved regulators of legal services</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='prob_board' %}">Probation boards</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='rules_committee' %}">Rules committees</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='cja' %}">Community justice authorities</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='verderers' %}">Verderers</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='CRC' %}">Community Rehabilitation Companies</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='imb' %}">Independent monitoring boards (for prisons)</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='scottish_prison_contractor' %}">Contrators Running Scottish Private Prisons</a></div>

<div class="organization-list-category-header">Local and regional</div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='local_council' %}">Local councils</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='parish_council' %}">Town and Parish councils</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='almo' %}">Housing ALMOs</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='assessor' %}">Assessors for Valuation joint boards (Scotland)</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='housing_association' %}">Housing associations</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='joint_committee' %}">Joint Committees</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='licensing_board' %}">Licensing boards (Scotland)</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='lscb' %}">Local safeguarding children boards</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='municipal_bank' %}">Municipal banks</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='newdeal' %}">New Deal for Communities partnership</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='nsbody' %}">North/south bodies</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='udc' %}">Urban Development Company</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='vjb' %}">Valuation joint boards (Scotland)</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='companies_owned_by_local_gov' %}">Companies owned by local government</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='bodies_funded_by_local_gov' %}">Bodies funded by local government</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='charter_trustees' %}">Charter trustees</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='LEP' %}">Local Enterprise Partnerships</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='other_lg' %}">Local government other</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='aonbcb' %}">Areas of Outstanding Natural Beauty Conservation Boards</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='combined_authority' %}">Combined authorities</a></div>

<div class="organization-list-category-header">Media and culture</div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='media' %}">Media</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='museum' %}">Museums and galleries</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='armed_forces' %}">Armed Forces</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='military_college' %}">Military colleges</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='security_services' %}">Security services</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='inns_of_court' %}">Inns of court</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='ombudsman' %}">Ombudsmen</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='professional_body' %}">Professional bodies</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='publicly_funded_charities' %}">Publicly funded charities</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='duchy' %}">Royal duchies</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='foi_voluntary' %}">Voluntary</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='sport' %}">Sport</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='theatre' %}">Theatre</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='dance' %}">Dance</a></div>

<div class="organization-list-category-header">Transport and infrastructure</div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='airport' %}">Airport companies</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='bus_company' %}">Bus companies</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='public_infrastructure' %}">Companies controlling national infrastructure</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='navigation_authority' %}">Navigation authorities</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='npte' %}">Passenger transport executives</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='port_authority' %}">Port authorities</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='railways' %}">Railway companies</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='srp' %}">Safer Roads Partnership</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='toll_company' %}">Toll companies</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='trunk_road_agency' %}">Trunk road agencies (Wales)</a></div>
<div class="organization-list-category-link"><a href="{% url 'organization:list_organizations' tag='telecom_companies' %}">Telecommunications Company</a></div>
