.organization-list-filter {
    padding-bottom: 10px;
}

.organization-list-category-header {
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 13px;
    margin-top: 35px;
}

.organization-list-link {
    margin-bottom: 15px;
    font-size: 21px;
}

.organization-list-category-link {
}
