/* front page:
*/

$base-colour: #5688C0;
$base-darker: #284C73; /* rgb(40,76,115) */
$warm-contrast: #CA766F;
$cold-contrast: #808D31;
$cold-contrast-darker: #6A732E;

$base-font-colour: #333333;
$link-colour: #265C83;
$heading-colour: #333333;

#bootstrap-overrides .body, body {
    color: $base-font-colour;
}

#bootstrap-overrides .navbar-inverse {
    background-color: #ee766c;
    border-color: #fff;
}

#bootstrap-overrides .navbar-frontpage {
    background-color: transparent;
    border-color: transparent;
    position: absolute; /* so that navbar is on top of hero image */
}

#bootstrap-overrides .navbar-brand {
    font-size: 28px;
    font-family: 'Andada';
}

#bootstrap-overrides a.navbar-brand:visited {
    color: #fff;
}

#bootstrap-overrides .navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

#bootstrap-overrides a.navbar-frontpage-link {
    color: #fff;
    font-size: 16px;
}

#bootstrap-overrides a.navbar-frontpage-link:visited {
    color: #fff;
}

#bootstrap-overrides .container.content-area {
    margin-top: 2em;
}

#bootstrap-overrides .btn {
    color: #fff;
}

#bootstrap-overrides .btn-primary {
    font-size: 19px;
    background-color: $warm-contrast;
    border-color: #d2d3d2;
}

#bootstrap-overrides .btn-default {
    color: #000;
}

#bootstrap-overrides .well {
    color: #fff;
    background-color: #fed665;
}

#bootstrap-overrides .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: $base-font-colour;
}

#bootstrap-overrides .h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
    font-weight: 400;
    line-height: 1;
    color: #fff;
}

#bootstrap-overrides .well h1, .well h2, .well h3, .well h4, .well h5, .well h6 {
    color: #fff;
}

#bootstrap-overrides .well a {
    color: #fff;
    text-decoration: underline;
}

#bootstrap-overrides .well .thumbnail {
    padding: 0px;
    border: 0px;
    background-color: transparent;
}

#bootstrap-overrides .col-md-4.begin-here {
    background: green;
}

#bootstrap-overrides .panel > .panel-heading {
    color: $heading-colour;
    background-color: #f5f6f6;
    border-color: #f5f6f6;
    font-weight: bold;
}

#bootstrap-overrides .panel {
    color: $heading-colour;
    background-color: #f5f6f6;
    border-color: #f5f6f6;
}


/* FAQ list */

#bootstrap-overrides h4.panel-title {
    font-weight: bold;
}

/* process steps */


#bootstrap-overrides .tabs li.active a {
    color: white;
}

.organization-list-filter {
    padding-bottom: 10px;
}

.organization-list-category-header {
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 13px;
    margin-top: 35px;
}

.organization-list-link {
    margin-bottom: 15px;
    font-size: 21px;
}

.organization-list-category-link {
}

.organization-list-description {
  margin-bottom: 25px;
}

.organization-view-link {
  display: block;
}

/* link colours */

#bootstrap-overrides a {
  color: $link-colour;
}
#bootstrap-overrides a:visited { color: #265C83; }
#bootstrap-overrides a:hover   { color: #7FDBFF; }
#bootstrap-overrides a:active  {
  transition: color .3s;
  color: #007BE6;
}

@media (min-width: 768px) {
    #bootstrap-overrides .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
        margin-right: 0;
        margin-left: 45px;
    }
}

.hero-unit {
    background-image:url("/static/img/home/hero-image.jpg");
    background-size:cover;
    background-color: #EEEEEE;
    background-position: right;
    height: 500px;
    padding: 60px;
  }
.hero-unit h1 {
    color: #FFFFFF;
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 1.3;
    margin-top: 50px;
    margin-bottom: 0;
    max-width: 600px;
}
.hero-unit h2 {
    font-size: 19px;
    font-weight: normal;
    line-height: 1.4;
    color: #FFFFFF;
    max-width: 600px;
}
.hero-box {
    margin-top: 40px;
/*    background-color: rgba(0,0,0,0.6); */
    background-color: rgba(40,76,115,0.3);
    padding: 18px;
    padding-top: 10px;
    display: inline-block;
}
.hero-box label {
    font-size: 19px;
    color: #FFFFFF;
    margin-top: 18px;
    font-weight: normal;
}
.hero-form {
    max-width: 350px;
}
.fill{width:100%;height:350px;background-position:center;background-size:cover;
}

    /* Large desktop */
@media (min-width: 1200px) { }

    /* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { }

    /* Landscape phone to portrait tablet */
@media (max-width: 767px) { }

    /* Landscape phones and down */
@media (max-width: 480px) { }

.text-primary {
  color: #fed136;
}

section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
section h3.section-subheading {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-weight: 400;
  max-width: 600px;
    margin-lefT: auto;
      margin-right: auto;
    text-align: center;
  margin-bottom: 75px;
      font-size: 20px;
    line-height: 1.4;
    margin-top: 37px;
}
@media (min-width: 768px) {
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

